/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Encabezado */
header {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    font-size: 36px;
}

/* Navegación */
nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}


nav a:hover {
    color: #FF5733;
}


/* Secciones */
section {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

/* Pie de página */
footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
